---
import underConstruction from "../assets/under_construction.gif?url";
import constructor1 from "../assets/constructor1.gif?url";
import constructor2 from "../assets/constructor2.gif?url";
---

<main id="container">
  <img
    src={constructor2}
    alt="Under construction"
    id="animated construction worker using an air hammer"
  />
  <img src={underConstruction} alt="Under construction sign" />
  <img src={constructor1} alt="animated construction worker having lunch" />
</main>

<style>
  #container {
    font-family: Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans",
      Arial, sans-serif;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
</style>
